h1 {
    color: black;
    text-align: center;
}

.IMG {
    text-align: center;
}

h2 {
    color: black;
    text-align: left;
    margin-left: 250px;
}

 

ul {
    color: black;
    text-align: left;
    margin-left: 290px;
}

p {
    color: black;
    text-align: left;
    margin-left: 300px;
}